*~
*swp
# in general the following file is personal
10-globals.yml
30-nodes.yml
31-testbed-nodes.yml
all.yml
# temp things
debug-*
output
lede-imagebuilder*
lede-imagebuilder*
openwrt-imagebuilder*
openwrt-imagebuilder*

# discard at the moment this file
Gemfile.lock

# image builder
Openwrt
