# If you are reading this means you did not configure 10-globals.yml and/or 30-nodes.yml for your needs, then temba supposed you are a newcommer or in a quick demo situation and copied files 10-globals.yml.example and 30-nodes.yml.example as 10-globals.yml and 30-nodes.yml


# all variables explained

# mesh-globals:
#   openwrt_version: what version is going to use your base firmware
#   openwrt: 'openwrt' or 'lede' (this is a temp backward compatible measure)
#   image_base_type: select between lime-sdk, custom path for image builder or official openwrt image builder
#   image_base_limesdk: if image_base_type is 'lime-sdk' put the path to the lime-sdk git repository
#   image_
#   dns_server: name services
#   ntp_server: sync clock
#   wifi_country: choose your closest country to renounce to your freedom
#   wifi_mtu: default MTU proposed for your network (don't change it if you don't know what are you doing)
#   wifi_htmode: HT40 means 2x 20Mz channels, auto selection of upper or lower secondary channel on versions 14.07 and above -> src https://wiki.openwrt.org/doc/uci/wireless
#   wifi_txpower: default proposed txpower is the default transmission power in vanilla openwrt
#   wifi_bssid: common identifier for the mesh network (in the wireless domain)
#   bmx6_main_iface: bmx6 interface used for mesh (by default is the wifi interface wif0_t)
#   bmx6_over_br-lan: if you want to propagate mesh through eth0 (in some devices this is relevant)

globals: &globals
  passwd: 13f
  openwrt_version: '18.06.2' # previous was '17.01.6'
  openwrt: 'openwrt' # or 'lede' (this variable exist to have a temporary backward compatibility to lede)
  dns_server: '1.1.1.1' # bcn.guifi.net = 10.228.203.104
  ntp_server: '10.228.203.104' # bcn.guifi.net = 10.228.203.104
  ssh-keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEApVRWW6tHBKEoK2+QJ3but2tsqdJjwSCdhNO+2aLAaOV17bggWB1mRF51oaky6RFdZPqpeM8XejKoMyGYt8xDbRCAtW7SGzHW5SwTiQ8LLMAyZCAyf47k5YGdHZu0z3kZfSKzX6D9hO2JgJrrwz+MBpExS2h9HxINWafCKEcoi4WFaviwHuDfwNpqCQnojZc7K9KPP356RyytEDKlXcp88Ov+WnvzuEQ+ybEaQxroqRy5yX3n3cV0RxanBGleqLkdHqoN5VVFI4nS4bMcICtCCZMEEN9v9hahNqSU41wzBOQArZPsZssBH6OBHpAevKqzMyPkr8tG0qY+kvNsFiI+Aw== victor@cube
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCws2aUQiiw9woP6QIxsHYHBTlkiIGfj4PfaFPTEMCTEGX6Z9bNP+DaqmvrXNayCpzpM1VNoCIbg2bnnv2NKFO9vclNO/O+shTzSVNP3k5ZJ2iV0AQg/K4ONDoWdoaFO8Uje8/DitPNgUXkameAFM9Osw8GeZKR5/yhUtVM7MRbrACFQzYMjmXH/XKgLkHliy6Ab2xzQOKY7hQnrsplMx4cuvSXA4d6BE01in+WHuoW8JEc0TcG+Pvf3Tw7CJNl7TMm1jhnsyg6mhHWNYFqc2092kbCPW83mKCJ8B99kM473/9Vnp4fHo65uCc6Qb5CFYzBigIUzKq6uXJfcakwKvyEsOqeTZVT/ys1D5PxHpQ6aQl90mfwElUVrJ7K+Tjr87QweskB2yokJ00VNXSncryqNw9BVEaBhpOJrp4hbBH/mxKfaaw6v4sYVwdSn5N2E6/g1HSFoy4fYEj5iKXaqH8mNHs5AhkZGuh0NLPl3bzfoMbru2M4SpcFh5tyxPmuiwgZOvjj1kgYsVdOOVMHJ8c4TcwEW9lRYUFJTh9mDfXrNx/kdEnZrBvNNRMq9A8eGq3j8xpV9qpKAmQ0Nq7lMteqYX93nln4qdUo5VrZ6+V1ZFNxsQDpLbNQmAh/JoRcJDUTBV/FzJxrp3zPOPj7KKgd66fpXfCR6RjYn3LC0eDexw== pedro@exo
    - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAIEAmLczzj8OUMC1MSNeJywdJanAkf92MpwGhhJ2ZT23bnRUCygvWay9dW47CRFRXg5jDhnimza7KgwbYtvEtoJiEvsmetnrCiLA5HW8c8XQZAYdyXyn3i1jNZnLW8pZuJxF9bPZFsbOWk2crC90PbmPyJgNq2U2qwZQQK3d/9L7lkM= llorenc@palma
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCdDkHqn95cwMwi+suB+jX+eZSlANJ1i0EP8N3izdpZxBG1pun5LuauotwceLwerzFsh2R2rGDsXc5TT3w1P55oTkTltnrmiGJlYhvUxYhvtrMbzhNqNgokLbUOkuEhkxCIHkj+QusCfU7GO8zGLt/7jtMReesT98eY4bhLpd+HOeLqWPLP6KSAEvEfqRLKdbRbtS6oR0YD74a000nYJ2N05U00ZAifprq3ltPhbNlLHsIeIeIpW7VddZKgsiPzrP7WuK4d8TeZMLytbxzISPXsAMe/9DZD3OlVoAgrQhjvgWp015kT0GtpElmfaghJAuXIHaEHfXhKQ392KN15tzwH roger@RGF-Port1

mesh-globals: &mesh-globals
  <<: *globals
  image_base_type: 'official' # all options: official, path, lime-sdk
  image_base_limesdk: '../lime-sdk/' # suggested place (relative path)
  # wifi parameters -> src https://openwrt.org/docs/guide-user/network/wifi/basic
  wifi_hwmode: '11a'
  wifi_htmode: 'HT40'
  wifi_country: 'TZ'
  wifi_txpower: 17
  wifi_mtu: 1500
  wifi_bssid: '02:CA:FF:EE:BA:BE'
  wifi_ssid_base: 'guifi.net/'
  bmx6_main_iface: 'wif0_t'
  bmx6_over_br-lan: false

cpe-globals: &cpe-globals
  <<: *globals
  image_base_type: 'official' # note: because compile it is a nonsense
  l2tp_ifname: 'exo'
  l2tp_server: '10.38.140.225' # exo l2tp server
  l2tp_mtu: '1420'

wifipro-globals: &wifipro-globals
  <<: *globals
  image_base_type: 'official' # note: because compile it is a nonsense
  wifi_country: 'ES'
  wifi_ssid: 'OpenWrt'
  # the recommended value for indoor corporate deployment
  wifi_txpower: 12
  wifi_vlan: 'guest'
  wifi_vlan_id: 20
  admin_vlan: 'admin'
  admin_vlan_id: 10 # not used in current network config
  admin_vlan_gw: 192.168.10.1
