# if you want to use this file rename it to something ended in .yml


# all variables explained

# network: a firmware will be generated for each child
#   node: a particular node with its custom firmware that will be generated
#     device: 20-devices.yml is inherited
#     node_name: name of your node, in guifi this is CITYStreetNumber, this is going to be also the ESSID
#     ip4: ask to guifi.net website
#     netmask4: we usually use a netmask of /27 (30 hosts)
#     bmx6_tun4: ip4 in cidr format for bmx6 file
#     wifi_channel: do a wifi scan or ask your community
#     wifi_htmode: bandwidth of 20 MHz, 40 Mhz, secondary channel is up (+) or down (-)? do a wifi scan or ask your community

# nanostation m5 and nanostation loco m5 xm series
network:

  regular-nanostation-m5:
    <<: *ubnt-nano-m
    node_name: 'hostnametest'
    ip4: '10.x.x.x' # fill IP
    netmask4: '255.255.255.224' # usually is this /27
    bmx6_tun4: '10.x.x.x/27' # yes, this is redundant, check https://github.com/guifi-exo/temba/issues/9
    wifi_channel: 'x'
    wifi_htmode: 'HT40' # example

  regular-nanostation-m5-xw:
    <<: *ubnt-nano-m
    node_name: 'hostnametest2'
    ip4: '10.x.x.x'
    netmask4: '255.255.255.224'
    bmx6_tun4: '10.x.x.x/27'
    wifi_channel: 'x'
    wifi_htmode: 'HT40'
