# If you are reading this means you did not configure 10-globals.yml and/or 30-nodes.yml for your needs, then temba supposed you are a newcommer or in a quick demo situation and copied files 10-globals.yml.example and 30-nodes.yml.example as 10-globals.yml and 30-nodes.yml


# all variables explained

# network: a firmware will be generated for each child
#   node_name: a particular node with its custom firmware that will be generated. Put here the name of your node, in guifi this is CITYStreetNumber, this is going to be also the ESSID
#     <<: inheritances from other yaml files
#     ip4_cidr: Ask guifi.net website. we usually use a netmask of /27 (30 hosts)
#     wifi_channel: do a wifi scan or ask your community

# nanostation m5 and nanostation loco m5 xm series
network:

  test-device:
    <<: *regular-ubnt-nano-m-xw
    ip4_cidr: '10.1.1.1/27'
    wifi_channel: 120
    notes: comments are visible in output file to highlight something

#  test-l2tp:
#    <<: *l2tp-nexx
#    ip4_cidr: 10.1.1.1/27
#    l2tp_guifigateway4: 10.10.10.11
#    l2tp_user: user@exo.cat
#    l2tp_passwd: 382948jiojlP
#    wifi_ssid: my_private_wifi
#    wifi_passwd: my_pwd_wifi


#  hostname-x86_64:
#    <<: *regular-x86_64
#    ip4_cidr: '10.1.1.1/27'
#
#  hostname-nano-xm:
#    <<: *regular-ubnt-nano-m
#    ip4_cidr: '10.1.1.1/27'
#    wifi_channel: 132
#    wifi_htmode: 'HT20' # overrides HT40 variable of 10-globals.yml (the example)
#
#  border-node-example:
#    <<: *border-ubnt-nano-m-xw
#    ip4_cidr: '10.1.66.161/27'
#    bgp_local_addr: '10.1.66.161'
#    bgp_local_as: '98790'
#    bgp_neigh_name: 'BCNHangarST2'
#    bgp_neigh_addr: '10.1.66.163'
#    bgp_neigh_as: '15624'
#    bgp_agg_prefix:
#      - '10.1.64.0/21{22,32}'
#      - '10.1.65.0/21{22,32}'
#
#  test-wifipro:
#    admin_vlan_ip: 192.168.1.20
#    wifi2_channel: '11' # alternate 1,6,11
#    wifi5_channel: '36' # you have more channels: 36 44 52 60 100 108 116 124 132 140
