# put 'y' if you want to update feeds each time imagebuilder.sh starts
syncfeeds='n'

# put 'y' if you want to install custom package dtun
dtun='n'

# put 'y' if you want to install custom patches
patches='n'

# put 'y' if you want to enable "compliance test" mode
compliance_test='y'

# select openwrt version (do `cd Openwrt; git tag` to select another one)
openwrt_version='v18.06.4'

# select one or many of the available architectures
archs=(
  ar71xx
  #ath79
  #x86_64
)

# not installed but available packages in firmware
available_packages=(
  bmx6-json
  bmx6-sms
  bmx6-uci-config
  bmx6-table
  luci-ssl
  luci-app-bmx6
  iperf3
  mtr
  netcat
  netperf
  tcpdump-mini
  xl2tpd
  luci-app-wireguard
)

installed_packages=(
  wireguard
  gre
  # looks like is a requirement for gre (?)
  kmod-usb-ohci
)
